In [1]:
import pandas as pd

In [2]:
data_link = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [24]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', 
                 compression='gzip',
                 low_memory=False, nrows=100)

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [20]:
from sqlalchemy import create_engine

In [21]:
# order of arguments: database type:// user:password @hostname:port/database_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
engine.connect()

In [23]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Possibly too much data to put in at once. Will read it in in chunks of 100k.

In [37]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', 
                 compression='gzip',
                 low_memory=False, 
                 iterator=True, 
                 chunksize=100000)

df = next(df_iter)

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Just inserting the headers first

In [38]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

Checked the table in postgres. It now exists. Time to add the entire data in. 

Change if exists to append.

In [39]:
total_appended = []

while True:
    try:
        df = next(df_iter)
    except StopIteration:
        print("All data has been loaded.")
        break

    numrows = df.shape[0]
    
    # Convert columns to datetime
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    # Try to append to SQL, catch any SQL-related exceptions
    try:
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        total_appended.append(numrows)
        print(f'{sum(total_appended)} rows appended')
    except Exception as e:
        print(f"An error occurred: {e}")
        break

100000 rows appended
200000 rows appended
300000 rows appended
400000 rows appended
500000 rows appended
600000 rows appended
700000 rows appended
800000 rows appended
900000 rows appended
1000000 rows appended
1100000 rows appended
1200000 rows appended
1269765 rows appended
All data has been loaded.